@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
  margin: 0;
}
.container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container img {
  margin: 5px 5px;
  height: 300px;
  width: 300px;
transition: all .3s;
}
img:hover{
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #eee;
}
input {
  text-align: center;
  width: 100px;
  margin-bottom: 10px;
}
