@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.circle{
  position: absolute;
  background-color: red;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation: scale 0.5s ease-out;
  transform: scale(0);
}
@keyframes scale{
  to{
    transform: scale(1);

  }
}